.UIControl {
  height: 30px;
  .about {
    cursor: pointer;
    &:hover {
      color: var(--chakra-colors-messenger-600);
    }
  }

  .github {
    $s: 14px;
    height: $s;
    cursor: pointer;
    svg {
      width: $s;
      height: $s;
    }
    &.light {
      svg {
        path {
          fill: var(--chakra-colors-gray-900);
        }
      }
    }
    &.dark {
      svg {
        path {
          fill: var(--chakra-colors-gray-100);
        }
      }
    }
  }
}
