#root {
  --titlebar-bg-color: #e8eaed;
  --titlebar-btn-bg-hover: #d0d2d5;
  --titlebar-btn-fill-hover: #000000;
  --titlebar-btn-fill: #8c8d8f;
  --titlebar-btn-close-bg-hover: #e81123;
  --titlebar-btn-close-bg-fill: white;
}
