/* App.module.css */
.app {
  &.light {
    color: var(--chakra-colors-gray-900);
  }

  &.dark {
    color: var(--chakra-colors-gray-50);
    background-color: var(--chakra-colors-gray-900);
  }
}
